
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://scontent.fccj3-1.fna.fbcdn.net/v/t1.6435-9/104284652_119741449767497_7941418765119055784_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_ohc=yq8UA7BIcxkAX_gS7wE&tn=Sv3ew8L9j9cPZrE7&_nc_ht=scontent.fccj3-1.fna&oh=00_AT_LFMtdAnwzTQe85jVJHKMQgajiV2yly3fsAzNudkwP_g&oe=62F8076B" class="d-block w-100" alt="...">
      </div>
    </div>
</div>
<br>
<div class="intro">
    <p>Since 1982 The AD Agency (Led by Debi Gasper) has been recognized as one of the preeminent full-service research, marketing, online digital advertising, graphic design, media buying, IT support, and public relations firms serving a regional, national, and international client base.

        As an aggressive and agile firm, The AD Agency believes in the fundamentals of communication strategies and has developed a reputation for effective, on-target marketing.
        
        Working with clients such as The US Department of Transportation, US Department of Energy, State Street Bank, Destination DC, American Express, The Washington Convention Center, The DC Lottery, Aetna, The Greater Washington Board of Trade, Fletcher Heald and Hildreth, Securitas, CBRE, The Chevy Chase Land Company, as well as many other private, non-profit and government agencies, The AD Agency is known for building and positioning brands along with maximizing the exposure and results for their clients.</p>
</div>
<br>
<h3 class="head">SERVICES</h3>

<ul class="tilesWrap">
	<li>
		<h2>01</h2>
		<h3>ADS</h3>
		<p>
			We give you the ability to show your ads to reach people with specific interests — namely, people who are interested in your products and services
		</p>
		<button>Click Here</button>
	</li>
	<li>
		<h2>02</h2>
		<h3>WEBSITES</h3>
		<p>
			We help you to create a professional website that helps you attract
			maximum clients.
		</p>
		<button>Click Here</button>
	</li>
	<li>
		<h2>03</h2>
		<h3>LOGOS</h3>
		<p>
			Because it grabs attention, makes a strong first impression, is the foundation of your brand identity, is memorable, separates you from competition, fosters brand loyalty, and is expected by your audience.
		</p>
		<button>Click Here</button>
	</li>
	<li>
		<h2>04</h2>
		<h3>CAMPAIGNS</h3>
		<p>
			Marketing campaigns are sets of strategic activities that promote a business's goal or objective. A marketing campaign could be used to promote a product, a service, or the brand as a whole. To achieve the most effective results, campaigns are carefully planned and the activities are varied.
		</p>
		<button>Click Here</button>
	</li>
</ul>
<!-- Section-3 -->
<br>
<h3 class="head">TESTIMONIALS</h3>
<!-- Testimony -->
<figure class="snip1533">
	<figcaption>
	  <blockquote>
		<p>The AD Agency created an informative Aetna microsite specifically for DC employees. This website detailed new enrollee information, benefits and plans for DC government employees.We asked the AD Agency to launch an open enrollment campaign for Aetna, that consisted of out of home advertising and digital advertising. The advertising campaign was a huge success, doubling the number of enrollees from the previous year.</p>
	  </blockquote>
	  <h3>Wisteria Ravenclaw</h3>
	  <h4>Account Director, Aetna</h4>
	</figcaption>
  </figure>
  <figure class="snip1533">
	<figcaption>
	  <blockquote>
		<p>The work that Debi Gasper’s team at The AD Agency provided for The National Museum of
			Americans at War organization far exceeded our expectations. We came to them in search of a logo, brochure and website design and they came back with work that was original, creative and conveyed our message clearly and concisely.</p>
	  </blockquote>
	  <h3>Ursula Gurnmeister</h3>
	  <h4>Executive Director, Americans at War</h4>
	</figcaption>
  </figure>
  <figure class="snip1533">
	<figcaption>
	  <blockquote>
		<p>I would strongly recommend The AD Agency. They provided services delivering actionable plans to assist the Office of the Chief Financial Officer to ensure “Best in Class” operations and to increase DC Lottery profits. The AD Agency contributed to various components of the project in a strategic manner. High quality work was provided in a timely, professional manner. </p>
	  </blockquote>
	  <h3>Ingredia Nutrisha</h3>
	  <h4>Principal, Delehanty Consulting</h4>
	</figcaption>
  </figure>

  <script>
	$(".hover").mouseleave(
  function() {
    $(this).removeClass("hover");
  }
);
  </script>
